<header class='about-section-header'>
  <h1> About </h1>
</header>

<section class='about-section'>
  <p>Welcome to The Jungle, Where you can find any plants!</p>
</section>

<%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>